.pre-footer {
    font-family: $font__main;
    padding: 10px 10px;
    background-color: $tretiary;
    color: #fff;

    p {
        color: #fff;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }
}